<div class="container">
  <div class="panel-group">
  <div class="panel panel-primary">
  <div class="panel-heading"><h4>Guides&Procédures</h4></div> 
  <div class="panel-body">
  <body> 
    <br>
  <input class="form-control" id="myInput" type="text" placeholder="Search..">
  <br>
  <br>
  <table class="table table-bordered table-striped">
    <thead>
       <tr>
        <th>Titre</th>
        <th>Catégorie</th>
        <th>PDF</th>
      </tr>
    </thead>
    <tbody id="myTable">
      <tr>
        <td>Sécurité du poste de travail</td>
        <td>Sécurité</td>
        <td><a href="assets/Guides/Sécurité du poste de travail.pdf">Télécharger</a></td>
      </tr>
      <tr>
        <td>Guide protection de la vie privée</td>
        <td>Sécurité</td>
        <td><a href="assets/Guides/Guide protection de la vie privée.pdf">Télécharger</a></td>
      </tr>
      <tr>
        <td>les dix conseils pour bien sécuriser vôtre ordinateur</td>
        <td>Sécurité</td>
        <td><a href="assets/Guides/lesdix_commandement.pdf">Télécharger</a></td>
      </tr>
      <tr>
        <td>Bien choisir mon mot e passe</td>
        <td>Sécurité</td>
        <td><a href="assets/Guides/pw.pdf">Télécharger</a></td>
      </tr>
      <tr>
        <td>Guide de bonnes pratiques pour éviter les Ransomwares</td>
        <td>Sécurité</td>
        <td><a href="assets/Guides/Guide de bonnes pratiques pour éviter les Ransomwares.pdf">Télécharger</a></td>
      </tr>
   
    </tbody>
  </table>
  
</body>

  </div>
  </div>
  </div>
</div>



