
<div class="panel-group">
    <div class="panel panel-primary">
      <div class="panel-heading"><h4>Direction de la Sûreté Nucléaires</h4></div>
      <div class="panel-body">
        <br>
        <input class="form-control" id="myInput" type="text" placeholder="Search..">
        <br>
           
        <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Titre</th>
          <th>Catégorie</th>
          <th>Piéce Jointe</th>
        </tr>
      </thead>
      <tbody id="myTable">
        <tr>
          <td>Sous Direction Sûreté et Radioprotection</td>
          <td><li>Service Radioprotection et Gestion des Déchets </li>
              <li>formulaires Gestion des sources Radioactives</li>
         </td>
         <td>
          <li>Demande d’acquisition des sources radioactives<a href="assets\FDSIN\Demande d’acquisition des sources radioactives .pdf">Télécharger</a></li>
          <li>Fiche de reception de la source radioactive<a href="assets\FDSIN\Fiche de reception de la source radioactive.pdf">Télécharger</a></li>  
          <li>Inventaire des sources Radioactives<a href="assets\FDSIN\Inventaire des sources Radioactives .pdf">Télécharger</a></li>
          <li>Declaration de perte ou de vol dune source radioactive<a href="assets\FDSIN\Declaration de perte ou de vol dune source radioactive .pdf">Télécharger</a></li>
          <li>Controle de source radioactive<a href="assets\FDSIN\Controle de source radioactive .pdf">Télécharger</a></li>
          <li>Demande de permis interne pour une Source Radioactive<a href="assets\FDSIN\Demande de permis interne pour une Source Radioactive .pdf">Télécharger</a></li>
          <li>Demande de permis externe pour une Source Radioactive<a href="assets\FDSIN\Demande de permis externe pour une Source Radioactive .pdf">Télécharger</a></li>
        </td>
        </tr>
        <tr>
            <td>Sous Direction Sûreté et Radioprotection</td>
            <td><li>Service Radioprotection et Gestion des Déchets </li>
                <li>formulaires Gestion dosimètres</li>
           </td>
           <td>
            <li>Fiche de poste et de nuisance<a href="assets\FDSIN\Fiche de poste et de nuisance .pdf">Télécharger</a></li>
            <li>Formulaire attribution de dosimetre au CNSTN<a href="assets\FDSIN\Formulaire attribution de dosimetre au CNSTN .pdf">Télécharger</a></li>  
            <li>Fiche de dosimetre non rendu<a href="assets\FDSIN\Fiche de dosimetre non rendu .pdf">Télécharger</a></li>
            <li>Déclaration de perte de dosimetre<a href="assets\FDSIN\Déclaration de perte de dosimetre .pdf">Télécharger</a></li>
            <li>Relève individuelle des doses<a href="assets\FDSIN\Relève individuelle des doses .pdf">Télécharger</a></li>
            <li>Reléve annuel individuelle des doses<a href="assets\FDSIN\Reléve annuel individuelle des doses .pdf">Télécharger</a></li>
            <li>Fiche enquête<a href="assets\FDSIN\Fiche enquête .pdf">Télécharger</a></li>
          </td>
          </tr>
          <tr>
            <td>Sous Direction Sûreté et Radioprotection</td>
            <td><li>Service Radioprotection et Gestion des Déchets </li>
                <li> formulaires Gestion des déchets chimiques au CNSTN</li>
           </td>
           <td>
            <li>Etiquette déchets chimique Finale4015<a href="assets\FDSIN\Etiquette déchets chimique Finale.pdf">Télécharger</a></li>
            <li>Etiquette BET4016<a href="assets\FDSIN\Etiquette BET.pdf">Télécharger</a></li>  
            <li>demande de prise en charge des déchets chimiques et biologiques<a href="assets\FDSIN\demande de prise en charge des déchets chimiques et biologiques.pdf">Télécharger</a></li>
            <li>Décharge déchets chimique4018<a href="assets\FDSIN\Décharge déchets chimique.pdf">Télécharger</a></li>
            <li>Inventaire annuel des déchets chimiques4019<a href="assets\FDSIN\ Inventaire annuel des déchets chimiques.pdf">Télécharger</a></li>
          </td>
          </tr>
       <tr>
            <td>Sous Direction Sûreté et Radioprotection</td>
            <td><li>Service Radioprotection et Gestion des Déchets </li>
                <li>formulaires de Gestion des déchets radioactifs</li>
           </td>
           <td>
            <li>Demande d’intervention pour la prise des déchets Radioactifs du CNSTN 4020<a href="assets\FDSIN\Demande d’intervention pour la prise des déchets Radioactifs du CNSTN .pdf">Télécharger</a></li>
            <li>Demande de prise en charge Finale4021<a href="assets\FDSIN\Demande de prise en charge Finale.pdf">Télécharger</a></li>
            <li>Etiquette déchets radioactifs4022<a href="assets\FDSIN\Etiquette déchets radioactifs.pdf">Télécharger</a></li>
            <li> Inventaire des dechets Finale4023<a href="assets\FDSIN\Inventaire des dechets Finale.pdf">Télécharger</a></li>
            </td>
     </tr>
    
    <tr>
      <td>Service Sûreté et Protection Physique</td>
      <td><li>Service Sûreté et Protection Physique</li>
          <li>formulaire Contrôle d’accès aux laboratoires et aux bâtiments du CNSTN</li>
     </td>
     <td>
        <li>Fiche d'acceuil<a href="assets\FDSIN\Fiche d'acceuil.pdf">Télécharger</a></li>  
        <li>Demande d’accuisition d’une carte de controle d’accées pour le personnel de CNSTN<a href="assets\FDSIN\Demande d’accuisition d’une carte de controle d’accées pour le personnel de CNSTN.pdf">Télécharger</a></li>
        <li>Demande d’accuisition d’une carte de controle d’accées pour les stagiaires<a href="assets\FDSIN\Demande d’accuisition d’une carte de controle d’accées pour les stagiaires.pdf">Télécharger</a></li>
        <li>Bon décharge<a href="assets\FDSIN\Bon décharge .pdf">Télécharger</a></li>
        <li>Fiche de renseignement visiteur<a href="assets\FDSIN\Fiche de renseignement visiteur.pdf">Télécharger</a></li>
        <li>Déclaration de perte de carte de contrôle d’accès<a href="assets\FDSIN\Déclaration de perte de carte de contrôle d’accès .pdf">Télécharger</a></li>
        <li>Déclaration de restitution de carte de contrôle d’accès<a href="assets\FDSIN\Déclaration de restitution de carte de contrôle d’accès.pdf">Télécharger</a></li>
        <li>Engagement<a href="assets\FDSIN\Engagement .pdf">Télécharger</a></li>
        <li>fiche thésard<a href="assets\FDSIN\Fiche_Thesard.pdf">Télécharger</a></li>
    </td>
    </tr>
    <tr>
        <td>Sous Direction Instrumentation</td>
        <td><li>Service Maintenance et Instrumentation </li></td>
       <td>
        <li>Demande d’intervention technique: électicité bâtiment<a href="assets\FDSIN\Demande d’intervention technique électicité bâtiment.doc">Télécharger</a></li>
        <li>Demande d’intervention technique: équipement nucléaire<a href="assets\FDSIN\Demande d’intervention technique équipement nucléaire.doc">Télécharger</a></li>
        <li>Demande d’intervention technique: plomberie, Climatisation et Chauffage Centrale<a href="assets\FDSIN\Demande d’intervention technique plomberie, Climatisation et Chauffage Centrale.doc">Télécharger</a></li>
        <li>Demande d’intervention technique: équipement électronique<a href="assets\FDSIN\Demande d’intervention technique équipement électronique.doc">Télécharger</a></li>
      </td>
      </tr>
      <tr>
        <td>Sous Direction Instrumentation</td>
        <td><li>Service Informatique et Réseau </li></td>
       <td>
        <li>Demande d’intervention informatique<a href="assets\FDSIN\Demande d’intervention informatique.pdf">Télécharger</a></li>
        <li>Demande de matériel informatique<a href="assets\FDSIN\Demande de matériel informatique.pdf">Télécharger</a></li>
        <li>Fiche d’accès à la salle ICT<a href="assets\FDSIN\Fiche d’accès à la salle ICT.pdf">Télécharger</a></li>
        <li>Formulaire de réservation de la salle polyvalente<a href="assets\FDSIN\Formulaire de réservation de la salle polyvalente.pdf">Télécharger</a></li>
        <li>Formulaire de réservation de matériel<a href="assets\FDSIN\Formulaire de réservation de matériel.pdf">Télécharger</a></li>
        <li>Formulaire de création d’un compte email officiel<a href="assets\FDSIN\Formulaire de création d’un compte email officiel.pdf">Télécharger</a></li>
    </td>
      </tr>
      <tr>
        <td>Sous Direction Instrumentation</td>
        <td><li>Direction Recherche Energie et Matière</li>
            <li>Laboratoire de Radiotraitement </li>
        </td>
       <td>
        <li>Fiche de demande de radiotraitement<a href="assets\FDSIN\Fiche de demande de radiotraitement.doc">Télécharger</a></li>  
      </td>
      </tr>
      </tbody>
    </table>
  </div>
  </div>
  
