<footer>
    <div class="container">
      <div class="row">
      
               <div class="col-sm-4">
                   <ul class="adress">
                        <span>Addresse</span>    
                        <li>
                           <p>Centre National des Sciences et Technologies Nucléaires</p>
                         </li>
                              
                         <li>
                           <p>71 537 410</p>
                         </li>
                         <li>
                           <p>abdelkader.hamrouni@gmail.com</p>
                           <p>emna.mejri@gmail.com</p>
                           <p>saber.ksouri@gmail.com</p>
                         </li>
                    </ul>
               </div>
               
               <div class="col-sm-8">
                   <ul class="contact">
                        <span>Contact</span>    
                        <li>
                           <a href="#">Home</a>
                         </li>
                              
                         <li>
                            <a href="#">About</a>
                         </li>
                              
                         <li>
                           <a href="#">Blog</a>
                         </li>
                              
                         <li>
                            <a href="#">Gallery </a>
                         </li>
                              
                         <li>
                           <a href="#">Contact</a>
                        </li>
                   </ul>
               </div>
               
       
       </div>
     </div>
   </footer>
