<footer>
    <div class="container">
      <div class="row">
      
               <div class="col-lg-5 col-md-5 col-sm-4 col-xs-12">
                   <ul class="adress">
                        <span>Addresse</span>    
                        <li>
                           <p>Centre National des Sciences et Technologies Nucléaires</p>
                         </li>
                              
                         <li>
                           <p>71 537 410</p>
                         </li>
                              
                         <li>
                           <p>abdelkader.hamrouni@gmail.com</p>
                           <p>emna.mejri@gmail.com</p>
                           <p>saber.ksouri@gmail.com</p>
                         </li>
                    </ul>
               </div>
               
               <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                   <ul class="contact">
                        <span>Contact</span>    
                        <li>
                           <a href="#">Home</a>
                         </li>
                              
                         <li>
                            <a href="#">About</a>
                         </li>
                              
                         <li>
                           <a href="#">Blog</a>
                         </li>
                              
                         <li>
                            <a href="#">Gallery </a>
                         </li>
                              
                         <li>
                           <a href="#">Contact</a>
                        </li>
                   </ul>
               </div>
          
               <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                  <ul class="social">
                             <span>Social</span>    
                              <li>
                                   <a href="#"><i class="fa fa-facebook fa-2x"></i></a>
                              </li>
                             
                              <li>
                                   <a href="#"><i class="fa fa-github fa-2x"></i></a>
                              </li>
                               
                              <li>
                                   <a href="#"><i class="fa fa-linkedin fa-2x"></i></a>
                              </li>
                              
                              <li>
                                   <a href="#"><i class="fa fa-tumblr fa-2x"></i></a>
                              </li>
                               
                              <li>
                                   <a href="#"><i class="fa fa-google-plus fa-2x"></i></a>
                             </li>
                             
                    </ul>
               </div>
          
          
          </div> 
       </div>
   </footer>
