body{
    font-family: serif;
    position: static;
}

footer{
     background-color: #233c52;
     width: 100%;
     text-align: center;
}	       

footer ul li{
    padding:5px 0px;
}

.adress span , .contact span , .social span{
   color: #FFf; 
   height: 300;
   font-weight: 800; 
   padding-top:20px; 
   margin-bottom: 20px;
   text-transform: uppercase;
   font-size: 20px;
   letter-spacing: 3px;
}
 
.adress li p , .contact li a , .social li a{
    color:#ffa200;
    letter-spacing: 2px;
    text-decoration:none;
    font-size:15px;
}

.social li{
    float: right;
    position: relative;
}

.adress , .contact , .social {
    list-style-type: none;

}

