<div class="container-fluid">
  <div class="panel-group">
    <div class="panel panel-primary">
      <div class="panel-heading"><h4><b>DSN</b></h4></div>
      <div class="panel-body">
        <br>
        <input class="form-control" id="myInput" type="text" placeholder="Search..">
        <br>
        <table class="table table-bordered table-striped">
        <thead>
          <tr class="info">
            <th>Nom et prénom</th>
            <th>E-mails</th>
            <th>Numéro de téléphone</th>
          </tr>
        </thead>
        <tbody id="myTable">
          <tr>
            <td>Nafaa Reguigui</td>
            <td>n.reguigui@cnstn.rnrt.tn</td>
            <td>195</td>
          </tr>
          <tr> 
            <td>Walid Aidi</td>
            <td>walid.aidi@cnstn.rnrt.tn</td>
            <td>218</td>
          </tr>
          <tr>
            <td>Zeineb Chekir</td>
            <td>z.chekir@cnstn.rnrt.tn</td>
            <td>134</td>
          </tr>
          <tr>
            <td>Mehrez bousselmi</td>
            <td>mehrez.bousselmi@cnstn.rnrt.tn</td>
            <td>202</td>
          </tr>
          <tr>
            <td>Mohamed Ben Abdallah</td>
            <td>med.benabdallah@cnstn.rnrt.tn</td>
            <td>202</td>
          </tr>
          <tr>
            <td>Firas Jabloun</td>
            <td>firas.jabloun@cnstn.rnrt.tn</td>
            <td>169</td>
          </tr>
          <tr>
            <td>Saoussen Sassi</td>
            <td>saoussen.sassi@cnstn.rnrt.tn</td>
            <td>207</td>
          </tr>
          <tr>
            <td>Badreddine Yousfi</td>
            <td>badreddine.yousfi@cnstn.rnrt.tn</td>
            <td>200</td>
          </tr>
          <tr>
            <td>Nidhal Kahlaoui</td>
            <td>nidhal.kahlaoui@cnstn.rnrt.tn</td>
            <td>222</td>
          </tr>
          <tr>
            <td>Leila Ounalli</td>
            <td>leila.ounalli@cnstn.rnrt.tn</td>
            <td>201</td>
          </tr>
          <tr>
            <td>Mohamed Ali Nasri</td>
            <td>mohamedali.nasri@cnstn.rnrt.tn</td>
            <td>174</td>
          </tr>
          <tr>
            <td>Sahbi Mbarki</td>
            <td>sahbi.mbarki@cnstn.rnrt.tn</td>
            <td>174</td>
          </tr>
          <tr>
            <td>Mohsen Bnina</td>
            <td>mohsen.bnina@cnstn.rnrt.tn</td>
            <td>146</td>
          </tr>
          <tr>
            <td>Emna Mejri</td>
            <td>emna.mejri@cnstn.rnrt.tn</td>
            <td>157</td>
          </tr>
          <tr>
            <td>Zouhair Sfaxi</td>
            <td>zouhair.sfaxi@cnstn.rnrt.tn</td>
            <td>166</td>
          </tr>
          <tr>
            <td>Wahid Mejri</td>
            <td>wahid.mejri@cnstn.rnrt.tn</td>
            <td>161</td>
          </tr>
          <tr>
            <td>Ahmed Boukadi</td>
            <td></td>
            <td>200</td>
          </tr>
          <tr>
            <td>Kaouther Bergaoui</td>
            <td></td>
            <td>200</td>
          </tr>
          <tr>
            <td>Souhail Saidi</td>
            <td></td>
            <td>135</td>
          </tr>
          <tr>
            <td>Bessem Ouelhazi</td>
            <td></td>
            <td>136</td>
          </tr>
          <tr>
            <td>Local Technique</td>
            <td></td>
            <td>235</td>
          </tr>
          <tr>
            <td>Gardien</td>
            <td></td>
            <td>178</td>
          </tr>


        </tbody>
      </table>       
</div>
