<form>
    
    <div>
        <label for="inputdefault">Nom&Prenom</label>
        <select class=form-control>
            <option value=un>Saber KSOURI</option>
            <option value=deux>Emna MEJRI</option>
            <option value=trois>Abdelkader HAMROUNI</option>
           </select>
    
      </div>
      <div>
        <label for="inputdefault">Nature de la panne</label>
        <select class=form-control>
            <option value=un>Hardware</option>
            <option value=deux>Software</option>
            <option value=trois>Réseaux</option>
           </select>
           
      </div>
      
  <br />

      <div class="form-group">
        <label for="inputdefault">Description de la panne</label>
        <input class="form-control" id="inputdefault" type="text">
      </div>
      <div class="form-group">
        <label for="inputdefault">Date de l'intervention</label><br>
        <input type="date" name="dateintervention">
        
      </div>
      <br>
            
      <div>
        <button type="button" class="btn btn-primary">enregistrer</button>

      </div>
      
      <br>
  
  </form>
