<div class="panel-group">
  <div class="panel panel-primary">
    <div class="panel-heading"><h4> Direction des Services Communs</h4></div>
    <div class="panel-body">
      <br>
      <input class="form-control" id="myInput" type="text" placeholder="Search..">
      <br>
      
        
      <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Titre</th>
        <th>Catégorie</th>
        <th>Piéce Jointe</th>
      </tr>
    </thead>
    <tbody id="myTable">
      <tr>
        <td>Sous Direction des Affaires Administratives</td>
        <td>Gestion de la Caisse</td>
        <td>
            <li>memoire_de_deplacement<a href="assets\FDSC\memoire_de_deplacement.pdf">Télécharger</a></li>
            <li>note_de_frais<a href="assets\FDSC\note_de_frais.pdf">Télécharger</a></li>
            <li>demande_de_renouvellement_de_fond<a href="assets\FDSC\demande_de_renouvellement_de_fond_de_roulement.pdf">Télécharger</a></li>
        </td>
      </tr>
      <tr>
        <td>Sous Direction des Affaires Administratives</td>
        <td>Formulaires Gestion des demandes administratives</td>
        <td>
            <li>مطلب ف القيام بتنقل دون إنعكاسي مالي<a href="assets\FDSC\مطلب ف القيام بتنقل دون إنعكاسي مالي.pdf">Télécharger</a></li>
            <li>مطلب في القيام بمأمورية<a href="assets\FDSC\مطلب في القيام بمأمورية .pdf">Télécharger</a></li>
            <li>مطلب عطلة<a href="assets\FDSC\مطلب عطلة.doc">Télécharger</a></li>
            <li>ترخيص<a href="assets\FDSC\ترخيص.pdf">Télécharger</a></li>
            <li>إعلام بالرجوع الى العمل<a href="assets\FDSC\إعلام بالرجوع الى العمل.pdf">Télécharger</a></li>
            <li>مطلب للحصول على ترخيص للتدريس<a href="assets\FDSC\مطلب للحصول على ترخيص للتدريس.doc">Télécharger</a></li>
            <li>مطلب إستخراج شهادة<a href="assets\FDSC\مطلب إستخراج شهادة.pdf">Télécharger</a></li>
            <li>جدول ارسال<a href="assets\FDSC\جدول ارسال.doc">Télécharger</a></li>
            <li>طلب تسبقة على مصاريف القيام بمأمورية<a href="assets\FDSC\طلب تسبقة على مصاريف القيام بمأمورية.pdf">Télécharger</a></li>
            <li>Demande d’avance sur salaire<a href="assets\FDSC\Demande d’avance sur salaire.pdf">Télécharger</a></li>
            <li>Demande d’avance aid idha<a href="assets\FDSC\Demande d’avance aid idha">Télécharger</a></li>
            <li> طلب شهادة في اخلاءالذمة<a href="assets\FDSC\طلب شهادة في اخلاء الذمة.pdf">Télécharger</a></li>
            <li> شهادة في اخلاءالذمة<a href="assets\FDSC\شهادة في اخلاءالذمة.pdf">Télécharger</a></li>
            <li>إعلام بمباشرة العمل<a href="assets\FDSC\إعلام بمباشرة العمل.pdf">Télécharger</a></li>
            <li>lettre_en_francais<a href="assets\FDSC\lettre_en_francais.doc">Télécharger</a></li>
            <li>lettre_en_arabe<a href="assets\FDSC\lettre_en_arabe.doc">Télécharger</a></li>
            <li> Page de garde du rapport de stage<a href="assets\FDSC\page_de_garde_RS.doc">Télécharger</a></li>
            <li> Derniére page du rapport de stage<a href="assets\FDSC\Derniere_page_du_rapport_de_stage.doc">Télécharger</a></li>
            <li>Attestation finale<a href="assets\FDSC\Attestation_finale.doc">Télécharger</a></li>
            <li>Attestation de stage<a href="assets\FDSC\Attestation_stage.doc">Télécharger</a></li>
            <li>أنموذج لتقرير مهمة بالخارج<a href="assets\FDSC\examplaire_rapport_voyage.doc">Télécharger</a></li>
            
        </td>
      </tr>
      <tr>
        <td>Sous Direction des Affaires Administratives</td>
        <td>Formulaires Gestion des présences</td>
        <td>
            <li>ورقة الحضور<a href="assets\FDSC\ورقة الحضور.doc">Télécharger</a></li>
            <li>ورقة تسجيل الغياب<a href="assets\FDSC\ورقة تسجيل الغياب.doc">Télécharger</a></li>
            <li>ورقة حضور الأعوان المتأخرين عن العمل<a href="assets\FDSC\ورقة حضور الأعوان المتأخرين عن العمل.doc">Télécharger</a></li>
        </td>
      </tr>
      <tr>
        <td>Sous Direction des Affaires Administratives</td>
        <td>Fiche Stagiaire</td>
        <td>
            <li>fiche_Stagiare<a href="assets\FDSC\fiche_Stagiare.pdf">Télécharger</a></li>
        </td>
      </tr>
      <tr>
        <td>Sous Direction Achat, Equipement et Moyens</td>
        <td>Demande de la fourniture du bureau</td>
        <td>
            <li>Demande de fourniture<a href="assets\FDSC\Demande de fourniture.pdf">Télécharger</a></li>
            <li> Fiche de suivi de stock<a href="assets\FDSC\Fiche de suivi de stock.pdf">Télécharger</a></li>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>
