<div class="container">
    <h2>Nos logiciels</h2>
    <p>Vous trouvez ci-dessous des logiciels utiles à vos besoins</p>            
    <table class="table">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Icone</th>
          <th>Lien</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Winrar</td>
          <td><img src="assets/image/winrar.png"></td>
          <td><a href="assets\logiciels\winrar.exe">Télécharger</a></td>
        </tr>
        <tr> 
          <td>PDF Creator</td>
          <td><img src="assets/image/PDF Creator.png"></td>
          <td><a href="assets\logiciels\PDF Creator.exe">Télécharger</a></td>
        </tr>
        <tr>
          <td>July</td>
          <td>Dooley</td>
          <td>july@example.com</td>
        </tr>
      </tbody>
    </table>
  </div>
