<div class="panel-group">
  <div class="panel panel-primary">
    <div class="panel-heading"><h4>Nos logiciels</h4></div> 
    <div class="panel-body">
    <br>
  <input class="form-control" id="myInput" type="text" placeholder="Search..">
  <br>    
<div class="container">            
  <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Icone</th>
          <th>Lien</th>
        </tr>
      </thead>
      <tbody id="myTable">
        <tr>
          <td>Winrar</td>
          <td><img src="assets/image/winrar.png"></td>
          <td><a href="assets\logiciels\winrar.exe">Télécharger</a></td>
        </tr>
        <tr> 
          <td>PDF Creator</td>
          <td><img src="assets/image/PDF Creator.png"></td>
          <td><a href="assets\logiciels\PDF Creator.exe">Télécharger</a></td>
        </tr>
        <tr>
          <td>July</td>
          <td>Dooley</td>
          <td>july@example.com</td>
        </tr>
      </tbody>
    </table>
  </div>
    </div>
  </div>
</div>

