<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Intranet SIR</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a routerLink="home">Présentation</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Formulaires
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Reservation d'une salle</a></li>
            <li><a href="#">Creation d'un compte mail</a></li>
            <li><a href="#">Intervention informatique</a></li>
            <li><a href="#">Demande du materiel informatique</a></li>
          </ul>
        </li>
        <li><a routerLink="guides">Guies&Procédures</a></li>
        <li><a routerLink="logiciels">Nos logiciels</a></li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
  
 
