<div class="container-fluid">
  <div class="panel-group">
    <div class="panel panel-primary">
      <div class="panel-heading"><h4><b>DCG</b></h4></div>
      <div class="panel-body">
        <br>
      <input class="form-control" id="myInput" type="text" placeholder="Search..">
      <br>
      
      <table class="table table-bordered table-striped">
        <thead>
          
            <th>Nom et prénom</th>
            <th>E-mails</th>
            <th>Numero de téléphone</th>
          
        </thead>
        
        <tbody id="myTable">
          <tr>
            <td>Taieb Jerbi</td>
            <td>taieb.jerbi@cnstn.rnrt.tn</td>
            <td>191</td>
          </tr>
          <tr> 
            <td>Adel Riahi</td>
            <td>a.riahi@cnstn.rnrt.tn</td>
            <td>206</td>
          </tr>
          <tr>
            <td>Samia Litaiem</td>
            <td>samia.litaiem@cnstn.rnrt.tn</td>
            <td>192</td>
          </tr>
          <tr>
            <td>Imen Zneidi</td>
            <td>imen.zneidi@cnstn.rnrt.tn</td>
            <td>205</td>
          </tr>
          <tr>
            <td>Mail Officiel</td>
            <td>official@cnstn.rnrt.tn</td>
          </tr>
        </tbody>
      </table>       
</div>


