 
<div class="panel-group">
    <div class="panel panel-primary">
      <div class="panel-heading"><h4>Formulaires Direction Valorisation des Projets & Services</h4></div>
      <div class="panel-body">
    
        <br>
        <input class="form-control" id="myInput" type="text" placeholder="Search..">
        <br>

<table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Titre</th>
        <th>Catégorie</th>
        <th>Piéce Jointe</th>
      </tr>
    </thead>
    <tbody id="myTable">
      <tr>
        <td>Service Management Qualité :SMQ</td>
        <td>Maitrise des documents, des données et des enregistrements </td>
        <td>
            <li>Page de garde<a href="assets\FDVPS\Page de garde.doc">Télécharger</a></li>
            <li>Page standard<a href="assets\FDVPS\\Page standard.doc">Télécharger</a></li>
            <li> Page de garde de l’imprimé<a href="assets\FDVPS\Page de garde de l’imprimé.pdf">Télécharger</a></li>
            <li> Page standard de l’imprimé<a href="assets\FDVPS\Page standard de l’imprimé.pdf">Télécharger</a></li>
            <li>Page de garde de manuel qualité<a href="assets\FDVPS\Page de garde de manuel qualité.pdf">Télécharger</a></li>
            <li> Page standard de manuel qualité<a href="assets\FDVPS\Page standard de manuel qualité.pdf">Télécharger</a></li>
            <li>Liste des documents internes<a href="assets\FDVPS\Liste des documents internes.pdf">Télécharger</a></li>
            <li>Liste de diffussion retrait<a href="assets\FDVPS\Liste de diffussion retrait.pdf">Télécharger</a></li>
            <li>Planning de la revue documentaire<a href="assets\FDVPS\Planning de la revue documentaire.pdf">Télécharger</a></li>
            <li>Demande de modification d’un document<a href="assets\FDVPS\Demande de modification d’un document.pdf">Télécharger</a></li>
            <li>Liste des documents externes<a href="assets\FDVPS\Liste des documents externes.pdf">Télécharger</a></li>
            <li>Veille normative<a href="assets\FDVPS\Veille normative.pdf">Télécharger</a></li>
            <li>Textes réglementaires veille réglementaire<a href="assets\FDVPS\Textes réglementaires veille réglementaire .pdf">Télécharger</a></li>
            <li>Listes des signatures et paraphes.pdf<a href="assets\FDVPS\Listes des signatures et paraphes.pdf">Télécharger</a></li>

        </td>
      </tr>
      <tr>
        <td>Service Management Qualité</td>
        <td>formulaires Gestion des archives </td>
        <td>
            <li>Plan de masse et d’agencement des archives<a href="assets\FDVPS\Plan de masse et d’agencement des archives .pdf">Télécharger</a></li>
            <li>Bordreau d’envoi des documents aux archives<a href="assets\FDVPS\Bordreau d’envoi des documents aux archives .pdf">Télécharger</a></li>
            <li>Inventaire des piéces constitutives des dossiers transférés<a href="assets\FDVPS\Inventaire des piéces constitutives des dossiers transférés .pdf">Télécharger</a></li>
            <li> Demande de consultation dossiers transférés aux archives<a href="assets\FDVPS\Demande de consultation dossiers transférés aux archives .pdf">Télécharger</a></li>
            <li>Cahier de consultation des dossiers transférés aux archives
                <a href="assets\FDVPS\Cahier de consultation des dossiers transférés aux archives .pdf
                ">Télécharger</a></li>
             </td>
      </tr>
      <tr>
        <td>Service Management Qualité</td>
        <td>Traitement des achats </td>
        <td>
            <li>Expression de besoin<a href="assets\FDVPS\Expression_du_besoin.pdf">Télécharger</a></li>
            <li>Registre d’enregistrement des demandes d’achat<a href="assets\FDVPS\Registre d’enregistrement des demandes d’achat.pdf">Télécharger</a></li>
            <li>PV de réception<a href="assets\FDVPS\PV_de_reception.pdf">Télécharger</a></li>
        </td>
      </tr>
      <tr>
        <td>Service Management Qualité</td>
        <td>Action corrective</td>
        <td>
            <li>Fiche d’action corrective<a href="assets\FDVPS\Fiche d’action corrective.pdf">Télécharger</a></li>
        </td>
      </tr>
      <tr>
        <td>Service Management Qualité</td>
        <td> formulaires Audit</td>
        <td>
            <li>Programme annuel d’audits<a href="assets\FDVPS\Programme annuel d’audits .pdf">Télécharger</a></li>
            <li>Suivi de réalisation du programme annuel d’audits<a href="assets\FDVPS\Suivi de réalisation du programme annuel d’audits.pdf">Télécharger</a></li>
            <li>Habilitation annuelle auditeur<a href="assets\FDVPS\Habilitation annuelle auditeur .pdf">Télécharger</a></li>
            <li>Evaluation annuelle auditeur<a href="assets\FDVPS\Evaluation annuelle auditeur .pdf">Télécharger</a></li>
            <li>Notification d’audit<a href="assets\FDVPS\Notification d’audit .pdf">Télécharger</a></li>
            <li>Rapport d’audit<a href="assets\FDVPS\Rapport d’audit .pdf">Télécharger</a></li>
            <li>Fiche écart audit<a href="assets\FDVPS\Fiche écart audit .pdf">Télécharger</a></li>
         </td>
      </tr>
      <tr>
        <td>Service Management Qualité</td>
        <td>formulaire Maîtrise de la formation</td>
        <td>
             <li>Demande de formation<a href="assets\FDVPS\Demande de formation.pdf">Télécharger</a></li>
            <li>Plan de formation<a href="assets\FDVPS\Plan de formation.pdf">Télécharger</a></li>
            <li>Convocation de Formation<a href="assets\FDVPS\Convocation de Formation.pdf">Télécharger</a></li>
            <li>Feuille de presence de Formation<a href="assets\FDVPS\Feuille de presence de Formation.pdf">Télécharger</a></li>
            <li>Fiche d’évaluation de la formation par les participants<a href="assets\FDVPS\Fiche d’évaluation de la formation par les participants.pdf">Télécharger</a></li>
            <li>Fiche d’évaluation de la formation par le Responsable formation<a href="assets\FDVPS\Fiche d’évaluation de la formation par le Responsable de formation.pdf">Télécharger</a></li>
            <li>Suivi de Réalisation Programme de Formation<a href="assets\FDVPS\Suivi de Réalisation Programme de Formation.pdf">Télécharger</a></li>
            <li>Dossier Formation<a href="assets\FDVPS\Dossier Formation.pdf">Télécharger</a></li>
            <li>Programme de Formation<a href="assets\FDVPS\Programme de Formation.pdf">Télécharger</a></li>
            <li>Liste et Supports Formation<a href="assets\FDVPS\Liste et Supports Formation.pdf">Télécharger</a></li>
            <li>Fiche Gestion et Supports<a href="assets\FDVPS\Fiche Gestion et Supports.pdf">Télécharger</a></li>
            <li>Intégration nouveau recruté Formation<a href="assets\FDVPS\ Intégration nouveau recruté Formation.pdf">Télécharger</a></li>
            <li>Evaluation Efficacité Formation<a href="assets\FDVPS\Evaluation Efficacité Formation.pdf">Télécharger</a></li>
            <li>Habilitation formation interne<a href="assets\FDVPS\Habilitation formation interne.pdf">Télécharger</a></li>
            <li>Liste répertoire formateur<a href="assets\FDVPS\Liste répertoire formateur.pdf">Télécharger</a></li>
            <li>fiche signalétique formateur<a href="assets\FDVPS\fiche signalétique formateur.pdf">Télécharger</a></li>
            <li>Information Prestataire de Service Formation<a href="assets\FDVPS\Information Prestataire de Service Formation.pdf">Télécharger</a></li>
        </td>
      </tr>
      <tr>
        <td>Service Management Qualité </td>
        <td>formulairesTraitement des analyses et des essais</td>
        <td>
            <li>Fiche de demande d’analyse _Echantillon<a href="assets\FDVPS\Fiche de demande d’analyse _Echantillon_.pdf">Télécharger</a></li>
            <li>Fiche d’étude de faisabilité<a href="assets\FDVPS\Fiche d’étude de faisabilité .pdf">Télécharger</a></li>
            <li>Registre de suivi des propositions des analyses<a href="assets\FDVPS\Registre de suivi des propositions des analyses .pdf">Télécharger</a></li>
            <li>Liste des techniques d’analyses Prix<a href="assets\FDVPS\Liste des techniques d’analyses Prix.pdf">Télécharger</a></li>
            <li>Offre de prix <a href="assets\FDVPS\Offre de prix .pdf">Télécharger</a></li>
            <li>Lettre de refus<a href="assets\FDVPS\Lettre de refus .pdf">Télécharger</a></li>
            <li>Fiche d’analyses<a href="assets\FDVPS\Fiche d’analyses .pdf">Télécharger</a></li>
            <li>Etiquette d’identification des échantillons<a href="assets\FDVPS\Etiquette d’identification des échantillons.pdf">Télécharger</a></li>
            <li>Ordre de service<a href="assets\FDVPS\Ordre de service .pdf">Télécharger</a></li>
            <li>Rapport d’analyses<a href="assets\FDVPS\Rapport d’analyses .doc">Télécharger</a></li>
            <li>Rapport d’analyse de remplacement<a href="assets\FDVPS\Rapport d’analyse de remplacement .doc">Télécharger</a></li>
            <li>Demande de facturation<a href="assets\FDVPS\Demande de facturation .pdf">Télécharger</a></li>
          </td>
      </tr>
      <tr>
        <td>Service Management Qualité</td>
        <td> formulaires Traitement des réclamations</td>
        <td>
            <li>Fiche de réclamation<a href="assets\FDVPS\Fiche de réclamation.pdf">Télécharger</a></li>
            <li>Registre des réclamations client<a href="assets\FDVPS\Registre des réclamations client .pdf">Télécharger</a></li>
        </td>
      </tr>
      <tr>
        <td>Service Management Qualité</td>
        <td>formulaires Protection de l’information et impartialité</td>
        <td>
            <li>Engagement et confidentialité<a href="assets\FDVPS\Engagement et confidentialité.doc">Télécharger</a></li>
            <li>Lettre d’impartialité<a href="assets\FDVPS\Lettre d’impartialité .doc">Télécharger</a></li>
        </td>
      </tr>
      <tr>
        <td>Service Management Qualité</td>
        <td>Formulaire Evaluation des Fournisseurs</td>
        <td>
            <li>fiche de classification des fournisseurs<a href="assets\FDVPS\fiche de classification des fournisseurs.pdf">Télécharger</a></li>
            <li>fiche de suivi de prestations des fournisseurs<a href="assets\FDVPS\fiche de suivi de prestations des fournisseurs.pdf">Télécharger</a></li>
            <li>PV de réception<a href="assets\FDVPS\PV de réception . pdf">Télécharger</a></li>
            <li>fiche de non conformité achat<a href="assets\FDVPS\fiche de non conformité achat. pdf">Télécharger</a></li>
            <li>fiche évaluation annuelle des fournisseurs<a href="assets\FDVPS\fiche évaluation annuelle des fournisseurs.pdf">Télécharger</a></li>
            <li>Listes des fournisseurs agrées<a href="assets\FDVPS\Listes des fournisseurs agrées . pdf">Télécharger</a></li>
            <li>lettre d’information fournisseur<a href="assets\FDVPS\lettre d’information fournisseur.pdf">Télécharger</a></li>
        </td>
      </tr> 
      <tr>
        <td>Service Management Qualité</td>
        <td>Page de garde rapport d’expertise</td>
        <td>
            <li>Page de garde rapport d’expertise<a href="assets\FDVPS\Page de garde rapport d’expertise.doc">Télécharger</a></li>
        </td>
      </tr>
      <tr>
        <td>Service Management Qualité</td>
        <td>Fiche de vie</td>
        <td>
            <li>Fiche de vie<a href="assets\FDVPS\fiche_de_vie.doc">Télécharger</a></li>
            <li>Modèle standard de presentation <a href="assets\FDVPS\presentation_mode_2007.ppt">Télécharger</a></li>
        </td>
      </tr>
      <tr>
        <td>Service Management Qualité</td>
        <td>Elaboration de fiche de poste et de fiche de fonction</td>
        <td>
            <li>fiche de poste<a href="assets\FDVPS\fiche de poste.doc">Télécharger</a></li>
            <li>بطاقة وصف مهام<a href="assets\FDVPS\بطاقة وصف مهام.doc">Télécharger</a></li>
        </td>
      </tr>
    </tbody>
  </table>
</div>     
</div>     

