<div class="panel panel-primary">
    <div class="panel-heading">Mission de la Direction de Sûreté Nucléaire « DSN »</div>
    <div class="panel-body">
        La DSN Veille à garantir les mesures de sûreté nucléaire et de radioprotection à l’intérieur des installations du centre et de ses équipements et à assurer la protection de l’environnement et de l’homme au sein du CNSTN. Grâce aux moyens de sensibilisation et l’application des consignes de sûreté et des normes en vigueur d’une part et d’autre part veiller sur la sécurité et la protection des biens et des personnes par les Systèmes de Sécurité Électronique cités ci-dessous et par les ressources humaines mises à sa disposition et enfin assurer la sécurité informatique et réseau du CNSTN.   En effet, les missions de la DSN couvrent les volets suivants, je cite : 
        <ul>
	<li>Veille à garantir les mesures de sécurité informatique à l’intérieur des installations du centre et Développe et Opère des instruments électroniques et nucléaires. </li>
	<li>Assurer la sûreté et la sécurité des sources radioactives.</li> 
    <li>Assure la maintenance préventive des équipements et installations scientifiques et informatiques du CNSTN.</li>
      </ul>
      <ul>
      <li>Gérer les urgences et intervient en cas d’incident ou d’accident radiologique en collaboration avec les services de la protection civile, CNRP, etc.….</li>
      <li>Réaliser des études relatives à la sûreté nucléaire et radiologique (Irradiateur, Accélérateur d’électrons, Générateur de neutron,…).</li>
      <li>Centraliser toutes les données stratégiques et la documentation intéressant la sécurité et la sûreté nucléaires et radiologique (nationale et internationale).</li>
      <li>Assurer toute action de formation, d’éducation, d’étude et de recherche et de développement en matière de sûreté nucléaire et radiologique, sécurité physique, instrumentation et électronique nucléaire et sécurité informatique.</li>
      <li>Participer à la mise au point de texte législatifs et normatifs dans le domaine nucléaire au niveau national et international.</li>
      <li>Assurer la Sécurité Informatique et Réseau (maintenance hardware et software).</li>
      <li>Suivi des contrats de maintenance avec les fournisseurs externes</li>
      </ul>

    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">Présentation du Service Informatique et Réseaux</div>
    <div class="panel-body">
        Le service informatique et réseaux au sein du CNSTN est l’unique responsable du bon fonctionnement du système d’information de CNSTN. En effet, il assure les volets suivants, je cite :
    <ul>
        <li>La mise en place et l’administration des systèmes et réseaux informatiques nécessaires à l'activité de CNSTN
    Exploitation</li>
    <li> maintenance et évolution du parc informatique</li>
	<li>Administration des systèmes</li>
	<li>Gestion et Surveillance du réseau physique</li>
</ul>
    </div>
  </div>
  