<div class="panel panel-primary">
    <div class="panel-heading"><h4>Centre National des Sciences et Technologies Nucléaires</h4></div>
    <div class="panel-body"><ul>
    Conformément aux dispositions de la loi n° 93-115 du 22 novembre 1993 portant création du "Centre National des Sciences et Technologies Nucléaires", (CNSTN)
    Le Centre a pour mission de réaliser les études et recherches nucléaires à caractère pacifique dans les différents domaines, ainsi que la maîtrise des technologies nucléaires, leur développement et leur utilisation aux fins du développement économique et social", et notamment dans les domaines de l'agriculture, de l'industrie, de l'énergie, de l'environnement et de la médecine, et d'une façon générale, la réalisation de toutes les activités tendant à assurer le développement des sciences nucléaires, la promotion de ses différentes applications et la maîtrise des technologies nucléaires à des fins pacifiques.
</ul>
    <ul>
    <h3><u>Evolution des Ressources Humaines et Développement des Compétences :</u></h3> <br>
    <p>Le Centre  Nationale des Sciences et Technologies Nucléaires a parié, depuis sa création, sur le développement de ses compétences et la promotion de ses ressources humaines. Ainsi l’effectif du personnel du Centre a atteint  en 2005, 84 salariés contre 70 en 2004, soit une augmentation de 18,7%.
       Le nombre de cadres scientifiques et techniques est passé de 38 en 2004 à 53 en 2005 soit un taux de croissance de 39.5% et représentant 63% de l’ensemble des salariés en 2005. Le taux d’encadrement s’est établi à 57% en 2005 contre 44.3% en 2004. Quant à l’effectif des chercheurs/enseignants, il a plus que doublé entre 2004 et 2005 afin de renforcer les activités de recherche du Centre. Il est à noter que la moyenne d’âge de l’ensemble des salariés et notamment du personnel scientifique et technique est de 34.5 ans. De plus, 60% de ces cadres se situent dans la tranche d’âge 20-35 ans. Les femmes représentent 26% des ressources humaines du CNSTN.
       Il y a lieu de préciser que l’année 2005 s’est caractérisée  par l’assainissement et l’informatisation de la gestion des ressources humaines et a vu le recrutement de compétences répondant aux besoins de développement des activités du Centre.</p>
    <h3><u>à l’insertion des Jeunes Diplômés dans la Vie Active</u></h3> <br>
    <p>dans le cadre de sa contribution dans la mise en œuvre de la politique nationale de promotion de l’emploi des jeunes diplômés de l’enseignement supérieur, le CNSTN a  accueilli en 2005 une dizaine de jeunes diplômés pour des stages d’initiation à la vie professionnelle. Cet effort sera renforcé au cours des prochaines années.</p>
    <h3><u>Santé et Sûreté du Travail</u></h3><br>
    <p>Dans le cadre de la mise en place des conditions de travail adéquates, le CNSTN ne cesse de prendre les mesures nécessaires et appropriées afin de protéger son personnel et ce conformément à la réglementation en vigueur. A cet fin les procédures suivantes ont été instaurées :</p>
* Suivi et contrôle du personnel grâce à l’utilisation des moyens de protection contre les rayonnements ionisants  ainsi que la préparation des rapports périodiques relatifs à la dosimétrie du personnel.<br>     
* Identification et contrôle des lieux de travail grâce à l’utilisation des moniteurs de contamination radioactive en vue de délimiter et contrôler les zones de travail.<br>
* Contrôle médical périodique de tous les agents du Centre selon leur catégorie.<br>
* Contrôle des lieux de travail en étroite collaboration avec le médecin de travail et ce en application des règles d’hygiène et sécurité.<br>
* Mise à la disposition du personnel des moyens de protection individuel.<br>
* Gestion des sources radioactives selon les règles de sécurité et de sûreté nucléaires.<br>
* Protection physique des laboratoires et des équipements du Centre grâce à des moyens électroniques appropriés.<br>
</ul>
     
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading"><h4>A propos du site</h4></div>
    <div class="panel-body">
       <ul>Pour garantir la circulation des informations d’une manière efficace  entre le personnel du CNSTN,  la Direction de l’Instrumentation et de la Sûreté Nucléaire met ce site  à votre dispostion.</ul> 
    <ul>
        le contenu du site se résume ainsi:<br>
    * Les formulaires<br>
	* les Guides&Procédures<br>
    * les Logicieles<br>
    * les Contacts<br>
</ul>
    </div>
  </div>
  