<div class="container-fluid">
  <div class="panel-group">
    <div class="panel panel-primary">
      <div class="panel-heading"><h4><b>DG</b></h4></div>
      <div class="panel-body">
        <br>
        <input class="form-control" id="myInput" type="text" placeholder="Search..">
        <br>
  
 <table class="table table-bordered table-striped">
        <thead>
          <tr class="info">
            <th>Nom et prénom</th>
            <th>E-mails</th>
            <th>Numéro de téléphone</th>
          </tr>
        </thead>
        <tbody id="myTable">
          <tr>
            <td>Adel Trabelsi</td>
            <td>adel.trabelsi@cnstn.rnrt.tn</td>
            <td>237</td>
          </tr>
          <tr> 
            <td>Wissal Belhadj</td>
            <td>wissal.belhadj@cnstn.rnrt.tn</td>
            <td>236</td>
          </tr>
          <tr>
            <td>Mourad Telmini</td>
            <td>mourad.telmini@cnstn.rnrt.tn</td>
            <td>115</td>
          </tr>
          <tr>
            <td>Meriem Trabelsi</td>
            <td></td>
            <td>168</td>
          </tr>
          <tr>
            <td>Sabeh Saidi</td>
            <td></td>
            <td>168</td>
          </tr>
          <tr>
            <td>Lamia Guenniche</td>
            <td></td>
            <td>214</td>
          </tr>       
        </tbody>
      </table>       
</div>



