
<div class="panel-group">
  <div class="panel panel-primary">
    <div class="panel-heading"><h4><b>DAAF</b></h4></div>
    <div class="panel-body">
      <br>
      <input class="form-control" id="myInput" type="text" placeholder="Search..">
      <br>
<div class="container">
  <table class="table table-bordered table-striped">
        <thead class="info">
          <tr class="info">
            <th>Nom et prénom</th>
            <th>E-mails</th>
            <th>Numéro de téléphone</th>
          </tr>
        </thead>
        <tbody id="myTable">
          <tr>
            <td>Mohamed Sakli</td>
            <td>mohamed.sakli@cnstn.rnrt.tn/td>
            <td>197</td>
          </tr>
          <tr> 
            <td>Wassef Gamha</td>
            <td>wassef.gamha@cnstn.rnrt.tn</td>
            <td>179</td>
          </tr>
          <tr>
            <td>Yassine Kouniali</td>
            <td>yassine.kouniali@cnstn.rnrt.tn</td>
            <td>167</td>
          </tr>
          <tr>
            <td>Hatem Ben Redjeb</td>
            <td>hatem.benredjeb@cnstn.rnrt.tn</td>
            <td>167</td>
          </tr>
          <tr>
            <td>Samir Fekih Romdhane</td>
            <td>samir.fekihromdhane@cnstn.rnrt.tn</td>
            <td>176</td>
          </tr>
          <tr>
            <td>Neji Hbibi</td>
            <td>habibi.neji@cnstn.rnrt.tn</td>
            <td>182</td>
          </tr>
          <tr>
            <td>Nader Kraiem</td>
            <td>nader.kraiem@cnstn.rnrt.tn</td>
            <td>215</td>
          </tr>
          <tr>
            <td>Ines Ben Barka</td>
            <td>ines.benbarka@cnstn.rnrt.tn</td>
            <td>215</td>
          </tr>
          <tr>
            <td>Mehdi Souaifi</td>
            <td>mehdi.souaifi@cnstn.rnrt.tn</td>
            <td>188</td>
          </tr>
          <tr>
            <td>Mohamed Hedi Mejri	</td>
            <td>hedi.mejri@cnstn.rnrt.tn</td>
            <td>180</td>
          </tr>
          <tr>
            <td>Walid Naas</td>
            <td>walid.naas@cnstn.rnrt.tn</td>
            <td>180</td>
          </tr>
          <tr>
            <td>Aymen Akkari</td>
            <td>aymen.akkari@cnstn.rnrt.tn</td>
            <td>176</td>
          </tr>
          <tr>
            <td>Fakher Horchani</td>
            <td>faker.horchani@cnstn.rnrt.tn</td>
            <td>185</td>
          </tr>
          <tr>
            <td>Faten Borgi</td>
            <td>faten.borgi@cnstn.rnrt.tn</td>
            <td>114</td>
          </tr>
          <tr>
            <td>Faten Rezgui</td>
            <td>faten.rezgui@cnstn.rnrt.tn</td>
            <td>114</td>
          </tr>
          <tr>
            <td>Najet Khemiri</td>
            <td>n.khemiri@cnstn.rnrt.tn</td>
            <td>199</td>
          </tr>
          <tr>
            <td>Ali Dridi</td>
            <td></td>
            <td>9</td>
          </tr>
          <tr>
            <td>Asma Talbi</td>
            <td></td>
            <td>145</td>
          </tr>
          <tr>
            <td>Aida Ouni</td>
            <td></td>
            <td>198</td>
          </tr>
          <tr>
            <td>Zeineb Abdaoui</td>
            <td></td>
            <td>145</td>
          </tr>
          <tr>
            <td>Faten Bouriel</td>
            <td></td>
            <td>199</td>
          </tr>
        </tbody>
      </table>       
</div>

