<div class="container">
    <h2>Galerie</h2>
    
    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="assets/image/nafaa.jpg" target="_blank">
            <img src="assets/image/nafaa.jpg" alt="Lights" style="width:100%">
            <div class="caption">
              <p>Le 26-02-2019, Réunion de travail sur la sécurité nucléaire entre M. le Secrétaire d’Etat auprès du ministre de l’enseignement supérieur et de la recherche, les représentants du Centre National des Sciences et Technologies Nucléaires et le représentant de l’Agence Américaine de la Sécurité Nucléaire.</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="assets/image/SIR.jpg" target="_blank">
            <img src="assets/image/SIR.jpg" alt="Nature" style="width:100%">
            <div class="caption">
              <p>Service informatique et Réseaux</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="assets/image/Salle Reseau2.jpg" target="_blank">
            <img src="/assets/image/Salle Reseau2.jpg" alt="Fjords" style="width:100%">
            <div class="caption">
              <p>Nôtre salle technique.</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
