<div class="panel panel-primary">
  <div class="panel-heading"><h4>Centre National des Sciences et Technologies Nucléaires</h4></div>
  <div class="panel-body">
<div class="container">
    
    
    <div>
      <div class="col-sm-4"  *ngFor="let detail of details" (click)="onselect(detail)">
        <div class="thumbnail">
          <img src={{detail.image}} alt="detail.name" style="height:250px; width: 100%;">
      </div>
     
  </div>
  <app-detailgalerie [detail]="selectedgalerie"></app-detailgalerie>
</div>
  </div>


