<div class="container-fluid">
  <div class="panel-group">
    <div class="panel panel-primary">
      <div class="panel-heading"><h4><b>DDVP</b></h4></div>
      <div class="panel-body">
        <br>
      <input class="form-control" id="myInput" type="text" placeholder="Search..">
      <br>
      <table class="table table-bordered table-striped">
        <thead>
          <tr class="info">
            <th>Nom et prénom</th>
            <th>E-mails</th>
            <th>Numéro de téléphone</th>
          </tr>
        </thead>
        <tbody id="myTable">
          <tr>
            <td>Zohra Azzouz Berriche</td>
            <td>z.berriche@cnstn.rnrt.tn</td>
            <td>171</td>
          </tr>
          <tr> 
            <td>Issam Bensalem</td>
            <td>issam.bensalem@cnstn.rnrt.tn</td>
            <td>160</td>
          </tr>
          <tr>
            <td>Ines Guesmi</td>
            <td>ines.guesmi@cnstn.rnrt.tn</td>
            <td>153</td>
          </tr>
          <tr>
            <td>Amina mtar</td>
            <td>amina.mtar@cnstn.rnrt.tn</td>
            <td>153</td>
          </tr>
          <tr>
            <td>Ines Touiti</td>
            <td></td>
            <td>160</td>
          </tr>
          <tr>
            <td>Amel Sayari</td>
            <td></td>
            <td>153</td>
          </tr>
        </tbody>
      </table>       
</div>



