
<div class="panel-group">
  <div class="panel panel-primary">
    <div class="panel-heading"><h4>Formulaires Direction Générale</h4></div>
    <div class="panel-body">
  <br>
  <input class="form-control" id="myInput" type="text" placeholder="Search..">
  <br>
  
         
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Titre</th>
        <th>Catégorie</th>
        <th>Piéce Jointe</th>
      </tr>
    </thead>
    <tbody id="myTable">
      <tr>
        <td>Secrétériat</td>
        <td>بطاقة ارشادات حول القيام بمهمة أو تربص بالخارج </td>
        <td><a href="assets\FDG\papier_consultation.doc">Télécharger</a></td>
      </tr>
      <tr>
        <td>Secrétériat</td>
        <td>قائمة في المهمات والتربصات المنجزة بالخـارج خلال السنة التي تسبق المهمة او التربص المطلوب</td>
        <td><a href="assets\FDG\قائمة في المهمات والتربصات.doc">Télécharger</a></td>
      </tr>
      <tr>
        <td>Secrétériat</td>
        <td>طلب تنظيم إجتماع بحضور المدير العام</td>
        <td><a href="assets\FDG\طلب تنظيم إجتماع بحضور المدير العام.pdf">Télécharger</a></td>
      </tr>
      <tr>
        <td>Secrétériat</td>
        <td>مذكرة عمل </td>
        <td><a href="assets\FDG\مذكرة عمل.doc">Télécharger</a></td>
      </tr>
      <tr>
        <td>Bureau d'ordre</td>
        <td>Traitement_du_courrier_urgent </td>
        <td><a href="assets\FDG\Traitement_du_courrier_urgent .pdf">Télécharger</a></td>
      </tr>
    </tbody>
  </table>
</div>
</div>
</div>
